{% extends "aravalli/layout.html" %}

{% block body %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
<style>
.iconDetails {
 margin-left:0%;
float:left; 
height:auto;
width:40px; 
} 

.container2 {
    width:100%;
    height:auto;
    padding:1%;
}
 div.polaroid {
      border-radius: 15px;
      margin-top: 20px;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float:left;
  margin-left: 5%;
}
div.container {
  text-align: center;
}
#image2{width: 40%;}
#image{width:50%;}
#page{padding-left: 15%; padding-right: 15%;}
@media screen and (max-width:600px) {
  #image{ 
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    
  }
  #image2{width: 100%;}
  div.polaroid{
      width: 96%;
      margin-left: 2%;
  }
  #page{padding-left: 5%; padding-right: 5%;}
}
</style>
</head>
<br>
<br>
<br>
<h1 style="margin-top: 70px; text-decoration: underline; text-decoration-color:  #ff751a; font-size: 72px; text-align: center;">Our Story</h1>

<div class="polaroid">
<div class='container2'>
        <div>
            <img src="/media/images/home/shop4.png" id="image" class='iconDetails'>
        </div>  
    <p class="card-text">

            <p style="font-family: Times; font-size: 20px;" class="card-text" >Our journey has been started at December 2020 in India, the aim is to take every offline retailer shop to online.<br>

            This Idea was arised, when we were about to buy a product. We inquisitively searched for the product in online, then tried offline. And we found that the price of product 
          was same in both online and offline, so we got that buying  offline would be a great service.<br>
        So the Idea is, there would be an online portal in which we can find the price,location and details of the product, and buy products offline with better services.</p>
            </p>
    </div>
  
</div>
</div>
</div>
<h3 style=" text-decoration:underline; text-decoration-color:  #ff751a; text-align: center;" class="card-text" >Vision</h3>
              <p style="font-family: Times; font-size: 19px;" class="card-text" id="page">To create Trust on and make online buying experience better as much as offline by creating digital shop for tomorrow's digitally connected world.</p>
              <h3 style="text-decoration:underline; text-decoration-color:  #ff751a; text-align: center;" class="card-text" >Mission</h3>
              <p style="font-family: Times; font-size: 19px; " class="card-text" id="page">To provide digital space to every shops for selling their products offline or to showcase their products, price and details.</p>
      
<div class="polaroid" style="background-color">
<div class='container2'>
        <div>
            <img src="/media/images/home/digital shop.JPG" id="image2" class='iconDetails'>

        </div>  
    <h3 class="card-text" style="margin-left: 25px;">Your digital shop</h3>
            <p style="font-size: 19px;">Your retail shop is present offline, let transform it and create your shop online.provide your 
              shopname, shop location and full details of your shop. Let cross the boundry of your area and reach 
              the every corner of the world digitally.
            </p>
    </div>
  
</div>
</div>
</div>

<div class="polaroid" style="background-color: ;">
<div class='container2'>
        <div>
            <img src="/media/images/home/location - Copy.JPG" id="image2" class='iconDetails'>
        </div>  
     <h3 class="card-text" style="margin-left: 25px;">Show shop Location and Products</h3>
            <p style="font-size: 19px;">Let's make finding your shop easier for everyone, you just need to provide your Google location.
              Now you can upload or post your product images, details, price and offers and can attract more number of Customers.

            </p>
    </div>
  
</div>
</div>
</div>

<div class="polaroid" style="background-color">
<div class='container2'>
        <div>
            <img src="/media/images/home/explore.jpg" id="image2" class='iconDetails'>
        </div>  
    <p class="card-text">
       <h3 class="card-text" style="margin-left: 25px;">Explore retail shops</h3>
            <p style="font-size: 19px;">Want to buy a product near your area search for it in better way, know your retailer shop products,
              know the location of shop, know the offer, price of products, and explore the retailer shop with your convient way.
            </p>
    </div>
  
</div>
</div>
</div>

<div class="polaroid" style="background-color:">

<div class='container2'>
        <div>
            <img src="/media/images/home/trust2.jpg" id="image2" class='iconDetails'>
        </div>  
    <p class="card-text">
       <h3 class="card-text" style="margin-left: 25px;">Get recognition</h3>
            <p style="font-size: 19px;">With your digital shop everyone can know your shopname and remember it. Why your shop should be
              famous only at your area? Let's showcase your product to world and get fame with your shopname and your name.
            </p>
    </div>
  
</div>
</div>
</div>

<div class="polaroid" style="background-color:">

<div class='container2'>
        <div>
            <img src="/media/images/home/see online 2.JPG" id="image2" class='iconDetails'>
        </div>  
    <p class="card-text">
       <h3 class="card-text" style="margin-left: 25px;">See online buy Offline</h3>
            <p style="font-size: 19px;">Let's forget the tedeous work to go to every shop and finding the best product with pocket budget,
            Let's see the product online at home, and buy that same product buy visiting the given shop location
          and enjoy shopping experience with both online and offline.</p>
    </div>
  
</div>
</div>
</div>

<h2 style="text-align: center;">Contact Us</h2>
<div class="polaroid" style="background-color:darkturquoise;">
<div class='container2'>
        <div>
            <img src="/media/images/home/contact-us.png" id="image" class='iconDetails'>
        </div>

              <h2 style=" text-decoration:underline; text-decoration-color: orange; color:rgb(1, 61, 95); text-align: center;" class="card-text" >Contact Us</h2>
              <h4 style="font-family: Times;" class="card-text" >Call us: +91 9522848897</h4>
              <h4 style="font-family: Times;" class="card-text" >Email us: ayomshops@gmail.com</h4>
              <h4 style="text-decoration:underline; text-decoration-color: orange;color:rgb(1, 61, 95)" class="card-text" >Location</h4>
              <h4 style="font-family: Times;" class="card-text" >Reach us: Shop No-205, First floar, Shyam square, Pandri, Raipur (C.G.)</h4>
               <a href="https://www.google.com/maps/dir//Shyam+square,+Pandri+Road,+LIC+of+India+bldg,+IGVP,+Devendra+Nagar,+Raipur,+Chhattisgarh/@21.2544604,81.5790588,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a28dd4d326a060d:0xf3a4910ea162e4ae!2m2!1d81.6491001!2d21.2543149" style="text-decoration: none; background-color: orange; color: rgba(0, 0, 0, 0.8);padding: 5px; border-radius: 5px; font-size: 20px;"> Reach Us </a></button>

            </p>
    </div>
  
</div>
</div>
</div>
{% endblock %}