{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Aravalli{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
   <body>
       {% block body %}
       {% endblock %}
       <div style="background-color: rgba(0,0,0,0.80); width: 100%; height: 300px;"></div>
   </body>
</html>